.button{
    display: flex;
    background-color: transparent;
    border-width: 0;
    color: white;
    flex-direction: row;

    align-items: flex-end;
    font-family: Exo-Medium;

    padding: 1vh;
    font-size: 100;
    width:100%
    
}