.mainContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  height: 7vh;
  width: 100%;
  background-color: rgb(239, 239, 240);
}

.header {
  padding-left: 3ch;
  padding-top: 1vh;
}
